<h1>Héroe <small>Nombre del Héroe</small></h1>
<hr>
<div class="row text-end">

	<div class="col">
		<button class="btn btn-danger" routerLink="/heroes">
			<i class="fa fa-arrow-left"></i>
			Regresar
		</button>
	</div>

</div>

<hr>
<div class="row animate__animated animate__fadeIn animate__fast">
	<div class="col">

		<form autocomplete="off" [formGroup]="formulario" (ngSubmit)="guardar()">

			<div class="form-group">
				<label>ID #</label>
				<input 
						type="text" 
						class="form-control"
						placeholder="Firebase ID#" 
						formControlName="id"
						>
				<small class="form-text text-muted">Este campo es
					autogenerado</small>
			</div>

			<div class="form-group">
				<label>Nombre</label>
				<input 
						type="text" 
						class="form-control" 
						placeholder="Nombre"
						formControlName="nombre"
						>
			</div>

			<div class="form-group">
				<label>Poder</label>
				<input 
						type="text" 
						class="form-control" 
						placeholder="Poder"
						formControlName="poder">
			</div>

			<div class="form-group">
				<label>Estado</label>
				<br>
				<button *ngIf="heroe.vivo"
						(click)="heroe.vivo = false"
						class="btn btn-outline-success w-50" 
						type="button">
					<i class="fa fa-smile-wink"></i>
				</button>
				
				<button *ngIf="!heroe.vivo"
						(click)="heroe.vivo = true"
						class="btn btn-outline-danger w-50" 
						type="button">
					<i class="fa fa-dizzy"></i>
				</button>
			</div>

			<hr>
			<div class="form-group text-center">
				<button type="submit" class="btn btn-primary w-25">
					<i class="fa fa-save"></i>
					Guardar
				</button>
			</div>

		</form>



	</div>
</div>